* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f6f8fb;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #f6ab3b;
  color: white;
  padding: 25px 0;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

p {
  margin-top: 30px;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

h2 {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  color: #555;
}

.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px 20px;
}

.card {
  background: #fff;
  padding: 25px 35px;
  border-radius: 16px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.08);
  font-size: 1.1rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
  width: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  background: #fff7ea;
}

button {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  transform: scale(1.05);
}

a.card {
  background: #ffffff;
  color: #333;
}

a.card:hover {
  background: #fff7ea;
}

footer {
  text-align: center;
  margin: 25px 0;
}

.back {
  text-decoration: none;
  color: #3b82f6;
  font-weight: 600;
  transition: color 0.3s;
}

.back:hover {
  color: #2563eb;
}

@media (max-width: 768px) {
  .card {
    width: 85%;
  }
}

.card a {
  display: inline-block;
  color: #1a1a1a;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.card a:hover {
  color: #f6ab3b;
  transform: scale(1.03);
  text-shadow: 0 0 8px rgba(0, 86, 214, 0.3);
}



.logo {
  width: 140px;
  max-width: 40vw;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

@media (max-width: 480px) {
  .logo {
    width: 110px;
  }
}